table{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;  
    border-collapse: solid collapse;
}

td, th{
    size: auto;
    border: solid 3px;
    
    border-color: solid black;
    
}