:root {
    --prymary-color: #f89b7e;
    --second-color: #184774;
    --left-color:#f1d03c;
    --right-color:#c7a091;
}


body{
    text-align: center;
    background-color: var(--prymary-color);
    
}
table{
    border-collapse: collapse;
    border-spacing: 2rem;
    border: solid #6b0c24;
}
td{
    background-color: var(--second-color);
    color: var(--prymary-color);
}
.td_left{
    background-color: var(--left-color);
    color: var(--right-color);
}

.td_right{
    background-color:var(--right-color);
    color: var(--left-color)
}