:root {
    --prymary-color: #6e7737;
    --second-color: #802632;
    --left-color:#f16f3c;
    --right-color:#91c7c7;
}


body{
    text-align: center;
    background-color: var(--prymary-color);
    
}
table{
    border-collapse: collapse;
    border-spacing: 2rem;
    border: solid #6b0c24;
}
td{
    background-color: var(--second-color);
    color: var(--prymary-color);
}
.td_left{
    background-color: var(--left-color);
    color: var(--right-color);
}

.td_right{
    background-color:var(--right-color);
    color: var(--left-color)
}